webservice_01/src/com/aitequ/schema/Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.aitequ.com/Schema"
		xmlns:tns="http://www.aitequ.com/Schema" 
		elementFormDefault="qualified">
	<element name = "user">
		<complexType>
			<sequence>
				<element name = "id" type = "int"></element>
				<element name ="name" type = "string"></element>
				<element name ="birthday" type="date"></element>
			</sequence>
		</complexType>
	</element>
</schema>